
BlazorApp8/obj/Debug/net8.0/ref/

BlazorApp8/obj/Debug/net8.0/

BlazorApp8/bin/Debug/net8.0/

BlazorApp8/obj/

.vs/BlazorApp8/config/

.vs/BlazorApp8/DesignTimeBuild/

.vs/BlazorApp8/FileContentIndex/

.vs/BlazorApp8/v17/

.vs/ProjectEvaluation/
